<div> <form [formGroup]="todoForm">
    <mat-form-field appearance="fill">
        <mat-label>Session Name</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Instructor Name</mat-label>
        <input matInput formControlName="desc">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput formControlName="desc2">
      </mat-form-field>
      <button mat-raised-buton  color="primary" (click)="updateToList()">Save</button>
    </form>
    <div>
        {{ title.value }}  {{ desc.value }} {{desc2.value}}
    </div>
  </div>
  